# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node.js
node_modules/

# Build output
dist/
dist-ssr/

# Local environment files
.env*

# Editor directories and files
.vscode/
.idea/
.DS_Store

# Ignore node_modules directory
node_modules/

# Visual Studio files
*.suo
*.ntvs*
*.njsproj
*.sln

# Temporary files
*.swp
